<div class="form-title-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" id="title" placeholder="Blog Title">
  </div>
  <div class="form-summary-group">
    <label for="summary">Summary</label>
    <input type="summary" name="summary" class="form-control" id="summary" placeholder="Summary">
    <button type="submit" class="btn btn-outline-light form-btn">Post</button>
  </div>