<%- include("partials/header.ejs") %>

<div class="full-screen container">

    <% if (locals.blogs) { %>
        <% for(const prop in locals.blogs) { %>
            <div class="blog">
                <h1 id="title"><%= prop %></h1>
                <h4 id="summary"> <%= locals.blogs[prop] %> </h4>
            </div>
        <% } %>
    <% } %>

</div>

<%- include("partials/footer.ejs") %>