body {
    background-color: salmon;
}

.container {
    background-color: salmon;
    border-radius: 0.5rem;
}

.full-screen {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100vh;
    padding: 50px;
}

.narrow {
    margin-right:15%;
    margin-left: 15%;
}

.blog {
    padding:15px;
    margin-left: 10%;
    margin-right: 10%;
}

#blog-title {
    color: white;
    font-weight: bolder;
}

#summary {
    color: brown;
}

#footer {
    margin-top: auto;
    color: brown;
}

input {
    color: brown !important
}

#form {
    padding: 50px;
    margin-top: 20px;
    color: white;
    font-weight: bolder;
}

.form-title-group {
    padding: 10px;
}

.form-summary-group {
    padding: 10px;
}

.form-btn {
    margin-top: 7px;
}

textarea {
    width: 100%;
}

.primary-header-button {
    background-color: brown;
    border-radius: 5px;
    color: white;
}

a.nav-link
{
   color: white;
   text-decoration: none;
}
a.nav-link:hover
{
   color: brown;
   text-decoration: none;
}

a.home:hover
{
   color: salmon;
   text-decoration: none;
}
